.css-toc {
    padding: 15px;
    margin-bottom: 25px;
}

.css-toc>ul {
    padding-left: 16px;
}

.css-toc ul {
    list-style-type: square;
    list-style-position: outside;
    margin-bottom: 0;
}

.css-toc ul p {
    vertical-align: top;
    display: inline-block;
}

.css-toc ul li {
    margin-bottom: 0;
}

.css-toc ul li>p {
    margin-bottom: 0;
}

.css-toc ul li>p {
    margin-top: 0;
}

@media screen and (min-width: 1045px) {
    .css-toc {
        position: fixed;
        bottom: 0;
        right: 0;
        width: 200px;
        /* max-height: 400px;
        overflow: scroll; */
        font-size: 14px;

    }

    .css-toc li>ul {
        margin-left: 1rem;
    }
}