// Ported from `src/components/Bio/Bio.css`.

.bio {
    display: flex;
    align-items: center;

    .pic:hover {
        margin-bottom: 0;
        min-width: 70px;
        border-radius: 100%;
        animation-name: scale;
        animation-duration: 2s;
        animation-iteration-count: 1;
    }

    .description {
        width: 100%;

        p {
            margin-bottom: 1rem;
        }
    }
}

@keyframes scale {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}