// Ported from `src/components/BalloonField/BalloonField.css`.

.balloon {
    position: relative;
    width: 100%;
    padding: 0 18px;
    border-bottom: 1px solid var(--textNormal);

    &::before {
        content: '';
        position: absolute;
        display: block;
        width: 0;
        height: 0;
        right: 50px;
        top: -9px;
        border-right: 9px solid transparent;
        border-bottom: 9px solid var(--textNormal);
        border-left: 9px solid transparent;
    }

    &::after {
        content: '';
        position: absolute;
        display: block;
        width: 0;
        height: 0;
        right: 50px;
        top: -8px;
        border-right: 9px solid transparent;
        border-bottom: 9px solid var(--bg);
        border-left: 9px solid transparent;
    }
}